.container-k
  = render partial: 'layouts/shared/header-with-progress'

  .main-k
    .main-k__header3
      電話番号の確認
    = form_for @user, url: address_add_users_path, method: :get, html: {class: "main-k__phone-form"} do |f|
      = f.label '携帯電話の番号'
      = f.telephone_field :phone_number, class: 'main-k__phone-form__number', placeholder: '携帯電話の番号を入力'
      .main-k__phone-form__conf-notice
        本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して
        認証を行う事があります。
      = f.submit '次へ進む', class: 'main-k__phone-form__btn'
      .main-k__phone-form__privacy-message
        ※電話番号は本人確認や不正利用防止のために利用します。
        他のユーザーに公開されることはありません。
      .main-k__phone-form__reason-message
        電話番号の確認が必要な理由
        = fa_icon 'chevron-right'
  = render partial: 'layouts/shared/footer'
