.main
  .content
    .content__left
      %ul
        %li
          = link_to "#" do
            マイページ
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            お知らせ
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            いいね！一覧        
            = fa_icon 'angle-right'
        %li
          = link_to "#"do
            出品する
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            出品した商品---出品中
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            出品した商品---取引中
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            出品した商品---売却済
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            購入した商品---取引中
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            購入した商品---過去の取引
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            ニュース一覧
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            評価一覧
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            ガイド
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            お問い合わせ
            = fa_icon 'angle-right'
      %h3 メルペイ
      %ul
        %li
          = link_to "#" do
            売上・振込申請
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            ポイント
            = fa_icon 'angle-right'
      %h3 設定
      %ul
        %li
          = link_to "#" do
            プロフィール
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            住所変更
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            支払い方法
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            メール/パスワード
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            本人情報
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            電話番号の確認
            = fa_icon 'angle-right'
        %li
          = link_to "#" do
            ログアウト
            = fa_icon 'angle-right'
    
    .content__right
      .content__right--top
        .mypageicon
          = link_to "#" do
            %figure
              = image_tag("https://static.mercdn.net/images/member_photo_noimage_thumb.png", size: "60x60")
            %h2 name
          %ul.mypageicon__num
            %li
              評価
              0
            %li
              出品数
              0
        %ul.mypagetabs
          %li.mypagetab お知らせ
          %li.mypagetab やることリスト
        .panel-group
        .tabcontent
          %ul
            %li
            %li
            %li
            %li
              = link_to "一覧を見る", "#", class: "mypageBtn"
        .tabcontent
          %ul
            %li
            %li
            %li
            %li
              = link_to "一覧を見る", "#", class: "mypageBtn"
      .content__right--bottom
        %h4 購入した商品
        %ul.mypagetabs2  
          %li.mypagetab2 お知らせ
          %li.mypagetab2 やることリスト
        .tabcontent2
          %ul
            %li
            %li
            %li
            %li
              = link_to "一覧を見る", "#", class: "mypageBtn"
        .tabcontent2
          %ul
            %li
            %li
            %li
            %li
              = link_to "一覧を見る", "#", class: "mypageBtn"


-# %ul.tab.cf
-#   %li.tab1.tab_current 一つ目
-#   %li.tab2 2つめ
-#   %li.tab3 3つめ
-# %ul.contents
-#   %li.content1.content_current aaa
-#   %li.content2 いいいい
-#   %li.content3 3つめ


-# %ul.ChangeElem_Btn_Content
-#   %li.ChangeElem_Btn 1番目のタブ
-#   %li.ChangeElem_Btn 2番目のタブ
-#   %li.ChangeElem_Btn 3番目のタブ
-# %ul
-#   %li.ChangeElem_Panel 1番目のコンテンツ
-#   %li.ChangeElem_Panel 2番目のコンテンツ
-#   %li.ChangeElem_Panel 3番目のコンテンツ


