- if session[:user_id]
  .wrapper
    .hedder
      = render "items/hedder"
      = render "layouts/pankuzu" 
    .main
      .content2
        .signout
          .signout__container
            .signout__container__back
              = link_to destro_user_path, method: :post do
                %button.back-btn ログアウト
        = render "l-side"  
    .footer
      = render 'items/footer'