.container
  = render partial: 'devise/shared/header'

  .main
    .main__no-account
      %p.main__no-account__text
        アカウントをお持ちでない方はこちら
      = link_to '#', {data: {"turbolinks": false}} do
        .main__no-account__btn
          新規会員登録
    .main__sns-login
      = link_to 'Facebook', {data: {"turbolinks": false}} do
        .main__sns-login__facebook
          = fa_icon 'facebook-square'
          Facebookでログイン
      = link_to 'Google', {data: {"turbolinks": false}} do
        .main__sns-login__google
          = fa_icon 'google'
          Googleでログイン
    = form_for "#", {html: {class: "main__email-pass-form"}} do |f|
      = f.email_field :email, class: 'main__email-pass-form__email', placeholder: 'メールアドレス'
      = f.password_field :password, class: 'main__email-pass-form__password', placeholder: 'パスワード'
      .main__email-pass-form__login-captcha
      = f.submit 'ログイン', class: 'main__email-pass-form__btn'
      .main__email-pass-form__forgot-password
        パスワードをお忘れの方
        
  = render partial: 'devise/shared/footer'