= render 'exhibit'

.wrapper
  .hedder
    = render 'hedder'

  .advertisement
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          =link_to "", class: "" do
            %img{alt: "", src: "/assets/1257895030.jpg"}/
        .swiper-slide
          =link_to "", class: "" do
            %img{alt: "", src: "/assets/KAZ20181201009_TP_V.jpg"}/
        .swiper-slide
          =link_to "", class: "" do
            %img{alt: "", src: "/assets/KZ190105004_TP_V.jpg"}/
      .swiper-pagination
      .swiper-button-prev.swiper-button-white
      .swiper-button-next.swiper-button-white
      :javascript
        var mySwiper = new Swiper ('.swiper-container', {
          
          loop: true,
          autoplay: {
            delay: 10000,
          },
          pagination: {
            el: '.swiper-pagination',
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          scrollbar: {
            el: '.swiper-scrollbar',
          },
        }) 
        
  .middle 
    .middle__contents 
      .middle__contents__famous
        %h2.middle__contents__famous__text
          人気のカテゴリー
        .middle__contents__famous__tags
          %ul.middle__contents__famous__tags__list
            %li.middle__contents__famous__tags__list__tag
              =link_to "", class: "categorys__tag" do
                レディース
            %li.middle__contents__famous__tags__list__tag
              =link_to "", class: "categorys__tag" do
                メンズ
      .middle__contents__new-items
        .middle__contents__new-items__category
          .middle__contents__new-items__category__top
            %a.middle__contents__new-items__category__top__text
              レディース新着アイテム
            .middle__contents__new-items__category__top__link
              =link_to "", class: "middle__contents__new-items__category__top__link__submit" do
                もっと見る ＞
          .pickup-contents__item
            = render partial: 'item', collection: @items

      .middle__contents__famous
        %h2.middle__contents__famous__text
          人気のブランド
        .middle__contents__famous__tags
          %ul.middle__contents__famous__tags__list
            %li.middle__contents__famous__tags__list__tag
              =link_to "", class: "categorys__tag" do
                ルイヴィトン
            %li.middle__contents__famous__tags__list__tag
              =link_to "", class: "categorys__tag" do
                シャネル
      .middle__contents__new-items
        .middle__contents__new-items__category
          .middle__contents__new-items__category__top
            %a.middle__contents__new-items__category__top__text
              ルイヴィトン新着アイテム
            .middle__contents__new-items__category__top__link
              =link_to "", class: "middle__contents__new-items__category__top__link__submit" do
                もっと見る　＞
          .pickup-contents__item
            = render partial: 'item', collection: @vuitton

  .footer
    = render 'footer'

